@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Material Symbols 폰트 설정 */
.google-symbols {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

/* 다크모드 변수 설정 */
:root {
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: #1a1a1a;
  --foreground: white;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, sans-serif;
} 

/* styles/globals.css 혹은 해당 컴포넌트 css 파일 */

.map-container {
  width: 100%;
  height: 100vh; /* 기본 전체 높이로 설정 */
}

/* PC */
@media (min-width: 1024px) {
  .map-container {
    height: calc(100vh - 100px); /* 헤더나 기타 UI를 감안한 높이 */
  }
}

/* Tablet */
@media (max-width: 1023px) and (min-width: 768px) {
  .map-container {
    height: calc(100vh - 80px);
  }
}

/* Mobile */
@media (max-width: 767px) {
  .map-container {
    height: calc(100vh - 60px);
  }
}
